#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
form {
  background-color: #666;
}

form span {
  flex: 1;
  color: #90efdb;
  height: 1.8rem;
  font-size: 1.5rem;
}

.field-cep {
  border: 1rem;
  background-color: burlywood;
  color: black;
}

.field-cep label {
  font-size: 1.2rem;
  font-variant: small-caps;
  margin: .8rem;
}

.field-cep input {
  height: 2rem;
  background: #333;
  color: white;
  font-size: 1.8rem;
}
